In [1]:
import pandas as pd 
import sqlite3

In [2]:
!ls

LICENSE
README.md
flights.db
img
index.ipynb
sql1.ipynb

In [4]:
conn = sqlite3.connect('flight.db')
cursor = conn.cursor()

In [6]:

airport_q = """SELECT * FROM airport;"""
cursor.fetchall()

[]

In [7]:
cursor.description

In [9]:
# Pandas 
airport = pd.read_sql(airport_q,conn)
airport.head()

DatabaseError: Execution failed on sql 'SELECT * FROM airport;': no such table: airport

In [ ]:


# Schema

schema_df = pd.read_sql('SELECT * FROM sqlite_master',conn)

schema_df

print(schema_df['sql'.iloc[0])

In [ ]:

airport_q = \"""SELECT * FROM airport;"""
cursor.fetchall()
cursor.description


# Pandas 
airport = pd.read_sql(airport_q,conn)
airport.head()


# Schema

schema_df = pd.read_sql('SELECT * FROM sqlite_master',conn)

schema_df

print(schema_df['sql'.iloc[0])